@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@700&display=swap')

body {
  font-family: 'Anonymous Pro';
  font-size: 20px;
}

h1 {
  font-family: 'Anonymous Pro';
  font-size: 60px;
}
