@import url('https://fonts.googleapis.com/css?family=Anonymous Pro' rel='stylesheet');

body {
    font-family: 'Anonymous Pro';font-size: 22px;
    background: rgb(14,18,41);
    color: white;
    word-wrap: break-word;
    background: linear-gradient(90deg rgb(14,18,41), black);
}
a:link {
    color: red;
    text-decoration: none;
}
a:visited {
    color: red;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: underline;
}
a:active {
    color: red;
    text-decoration: underline;
} 
